In [1]:
import pandas as pd
import numpy as np

In [2]:
price=pd.read_csv('C:/Users/yiming.xu/Documents/GitHub/CAP6615/HW3/HistoricalPrices.csv')
pe=pd.read_csv('C:/Users/yiming.xu/Documents/GitHub/CAP6615/HW3/ie_data_PE.csv')

In [3]:
price

           Date     Open     High      Low    Close
0      12/31/20  3733.27  3760.20  3726.88  3756.07
1      12/30/20  3736.19  3744.63  3730.21  3732.04
2      12/29/20  3750.01  3756.12  3723.31  3727.04
3      12/28/20  3723.03  3740.51  3723.03  3735.36
4      12/24/20  3694.03  3703.82  3689.32  3703.06
...         ...      ...      ...      ...      ...
10839  01/09/78    90.64    91.52    90.01    90.64
10840  01/06/78    91.62    92.66    91.05    91.62
10841  01/05/78    92.74    94.53    92.51    92.74
10842  01/04/78    93.52    94.10    93.16    93.52
10843  01/03/78    93.82    95.15    93.49    93.82

[10844 rows x 5 columns]

In [4]:
pe=pe.rename({'Date':'Date_PE'},axis=1)
pe

     Date_PE  PE_CAPE  TR CAPE  Yield
0    1978.01     9.24    11.12  9.11%
1    1978.02     9.05    10.89  9.31%
2    1978.03     8.95    10.79  9.47%
3    1978.04     9.26    11.18  9.03%
4    1978.05     9.63    11.64  8.49%
..       ...      ...      ...    ...
511  2020.08    31.15    34.16  4.32%
512  2020.09    30.83    33.81  4.33%
513  2020.10    31.28    34.30  4.17%
514  2020.11    32.47    35.61  3.96%
515  2020.12    33.77    37.03  3.77%

[516 rows x 4 columns]

In [5]:
price['Date_PE']=0.0
for i in range(price.shape[0]):
    month=int(price['Date'][i][0:2])
    year=int(price['Date'][i][-2:])
    if year>50:
        year=year+1900
    else:
        year=year+2000
    price['Date_PE'][i]=year+month*0.01

C:\Users\yiming.xu\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [6]:
data=pd.merge(price,pe,how='left',on='Date_PE')
data.to_csv('C:/Users/yiming.xu/Documents/GitHub/CAP6615/HW3/Price_PE.csv')

In [7]:
data

,Date,Open,High,Low,Close,Date_PE,PE_CAPE,TR CAPE,Yield
0,12/31/20,3733.27,3760.20,3726.88,3756.07,2020.12,33.77,37.03,3.77%
1,12/30/20,3736.19,3744.63,3730.21,3732.04,2020.12,33.77,37.03,3.77%
2,12/29/20,3750.01,3756.12,3723.31,3727.04,2020.12,33.77,37.03,3.77%
3,12/28/20,3723.03,3740.51,3723.03,3735.36,2020.12,33.77,37.03,3.77%
4,12/24/20,3694.03,3703.82,3689.32,3703.06,2020.12,33.77,37.03,3.77%
...,...,...,...,...,...,...,...,...,...
10839,01/09/78,90.64,91.52,90.01,90.64,1978.01,9.24,11.12,9.11%
10840,01/06/78,91.62,92.66,91.05,91.62,1978.01,9.24,11.12,9.11%
10841,01/05/78,92.74,94.53,92.51,92.74,1978.01,9.24,11.12,9.11%
10842,01/04/78,93.52,94.10,93.16,93.52,1978.01,9.24,11.12,9.11%
10843,01/03/78,93.82,95.15,93.49,93.82,1978.01,9.24,11.12,9.11%